= render partial: "header"

.contents
  .articles
    = render @articles

.modal.js-modal
  %a.js-modal-close{:href => ""} 
    = fa_icon 'window-close'
  = render partial: "form", locals: { article: @article }

      





